<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>
    <%- include('../partials/navbar') %>
    <div class="container mt-5">
        <div class="row">
            <%- include('../partials/alert') %>
            <div class="col-md-12 d-flex justify-content-center mt-3 ">
                <form action="/auth/activate-user/<%= token %>" method="post">
                    <button></button>
                    <button type="submit" class="btn btn-lg btn-primary">Hesabı Etkinleştir</button>
                </form>
            </div>
    <%- include('../partials/script') %>
</body>
</html>