<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>
    <%- include('../partials/navbar') %>
    <div class="container">
        <div class="row mt-5">
            <%- include('../partials/alert') %>
            <div class="col-md-12">
                <!-- driver-table -->
                <table class="table table-striped table-hover table-bordered mt-5">
                    <thead>
                        <tr>
                            <th>Şöför Kodu</th>
                            <th style="width: 80px;">Fotoğraf</th>
                            <th>Ad-Soyad</th>
                            <th>Telefon</th>
                            <th>Email</th>
                            <th>Araçlar</th>
                            <th>Cinsiyet</th>
                            <th style="width: 200px;"><a href="/admin/driver/create" class="btn btn-sm btn-primary">+ Şoför Ekle</a></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% drivers.forEach(driver => { %>
                            <tr>
                                <td><%= driver.driverCode %></td>
                                <td>
                                    <img src="/static/images/<%= driver.driverImg %>" alt="<%= driver.driverImg %>"style="width: 60px; border-radius: 15px;">  
                                </td>
                                <td><%= driver.fullname %></td>
                                <td><%= driver.telephone %></td>
                                <td><%= driver.email %></td>
                                <td>Girilmedi</td>
                                <td><%= driver.gender==true ? "Erkek":"Kadın" %></td>
                                <td>
                                    <div class="btns">
                                        <a href="/admin/driver/edit/<%= driver.id %>/<%= driver.url %>" class="btn btn-primary btn-sm">Düzenle</a>
                                        <a href="/admin/driver/delete/<%= driver.id %>" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#modal_<%= driver.id %>">Sil</a>
                                        <!-- delete-driver-panel -->
                                        <div class="modal fade" id="modal_<%= driver.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                      <h1 class="modal-title fs-5" id="exampleModalLabel">Araç Sil</h1>
                                                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body table-responsive">
                                                        <table class="table table-striped table-hover table-bordered mt-5 table-responsive">
                                                            <thead>
                                                                <tr>
                                                                    <th>Şöför Kodu</th>
                                                                    <th style="width: 80px;">Fotoğraf</th>
                                                                    <th>Ad-Soyad</th>
                                                                    <th>Araçlar</th>
                                                                    <th>Cinsiyet</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td><%= driver.driverCode %></td>
                                                                    <td>
                                                                        <img src="/static/images/<%= driver.driverImg %>" alt="<%= driver.driverImg %>"style="width: 80px;">  
                                                                    </td>
                                                                    <td><%= driver.fullname %></td>
                                                                    <td>Girilmedi</td>
                                                                    <td><%= driver.gender==true ? "Erkek":"Kadın" %></td>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <div class="modal-footer">
                                                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                        <form action="/admin/driver/delete/<%= driver.id %>" method="post">
                                                            <input type="hidden" name="driverId" value="<%= driver.id %>">
                                                            <input type="hidden" name="driverImg" value="<%= driver.driverImg %>">
                                                            <button type="submit" class="btn btn-danger">Delete</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <%- include('../partials/script') %>
</body>
</html>