<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>
    <%- include('../partials/navbar') %>
    <div class="container">
        <div class="row my-5">
            <%- include('../partials/alert') %>
            <h3 class="text-center"><%= title %></h3>
            <div class="col-md-12">
                <!-- update-role -->
                <div class="edit-vehicleType">
                    <div class="card">
                        <div class="card-header bg-secondary"><%= title %></div>
                        <div class="card-body">
                          <div class="row d-flex justify-content-center">
                            <form action="/admin/role/edit/<%= role.url %>" method="post">
                                <div class="col-auto mb-2">
                                  <input type="text" class="form-control" name="roleName" placeholder="Rol Adını Girin" value="<%= role.roleName %>">
                                </div>
                                <div class="col-auto mb-2">
                                    <input type="hidden" name="roleId" value="<%= role.id %>">
                                    <button type="submit" class="btn btn-success px-4">Güncelle</button>
                                </div>
                            </form>
                          </div>
                        </div>
                      </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center">Role Kayıtlı Kullanıcılar</h3>
                <hr>
                <div class="table-responsive  mt-5">
                    <h6>"<%= role.roleName %>" Rolündeki Kullanıcı Sayısı:</h6>
                    <table class="table table-striped table-hover table-bordered">
                        <thead>
                            <tr>
                                <th>Kullanıcı Kodu</th>
                                <th>Ad Soyad</th>
                                <th>Email</th>
                                <th>Roller</th>
                                <th style="width: 200px;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1111</td>
                                <td>Yasin Acar</td>
                                <td>yasinaacar@outlook.com</td>
                                <td>Admin</td>
                                <td>
                                    <a href="#" class="btn btn-sm btn-remove">Kaldır</a>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <%- include('../partials/script') %>
</body>
</html>