<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>
    <%- include('../partials/navbar') %>
    <div class="forms">
        <%- include('../partials/alert') %>
        <div class="card" id="card">
            <div class="card-body">
                <div class="table-responsive" id="tableResponsive">
                    <table class="table table-striped table-hover mt-5">
                        <thead>
                            <tr>
                                <th>Rota Kodu</th>
                                <th>Başlangıç Şehri</th>
                                <th>Bitiş Şehri</th>
                                <th style="width: 200px;"><a href="/admin/route/create" class="btn btn-create text-center">+ Rota Ekle</a></th>
                            </tr>
                        </thead>
                        <tbody>
                           <% routes.forEach(route => { %>
                                <td>000</td>
                                <td><%= route.district.name %></td>
                                <td><%= route.district.name %></td>
                           <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <%- include('../partials/script') %>
</body>
</html>