<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>
    <%- include('../partials/navbar') %>
    <div class="container">
        <div class="row m-5">
            <div class="col-12">
                <%- include('../partials/alert') %>
                <h3 class="text-center my-4"><%= title %></h3>
                <div class="mb-2 category-list-table table-responsive">
                    <table class="table table-striped table-hover table-bordered">
                        <thead>
                            <tr class="text-center">
                                <th style="width:200px">User Code</th>
                                <th>Fullname</th>
                                <th>E-Mail</th>
                                <th>Role</th>
                                <th style="width: 120px;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <% users.forEach(user => { %>                             
                                <tr class=" align-items-center">
                                    <td><%= user.userCode %></td>
                                    <td><%= user.fullname %></td>
                                    <td><%= user.email %></td>
                                    <td>
                                        <% for (let role of user.roles) { %>
                                            <li><%= role.roleName %></li>
                                        <% } %>
                                    </td>
                                    <td>
                                        <div class="table-buttons">
                                            <!-- update-table-panel -->
                                            <a href="/admin/user/edit/<%= user.id%>"  data-bs-toggle="offcanvas" data-bs-target="#offcanvas_<%= user.id%>" aria-controls="offcanvasRight" class="btn btn-sm btn-primary">Düzenle</a>
                                            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvas_<%= user.id%>" aria-labelledby="offcanvasRightLabel">
                                                <div class="offcanvas-header">
                                                  <h5 class="offcanvas-title" id="offcanvasRightLabel">User Edit</h5>
                                                  <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                                                </div>
                                                <div class="offcanvas-body mx-4">
                                                    <div class="row mb-3">
                                                        <label for="userName">User Name: </label>
                                                        <input type="text" class="form-control mt-2" id="userName" name="userName" value="<%= user.fullname %>" disabled>
                                                    </div>
                                                    <div class="row mb-3">
                                                        <label for="email">E-Mail: </label>
                                                        <input type="email" class="form-control mt-2" id="email" name="email" value="<%= user.email %>" disabled>
                                                    </div>
                                                    <div class="row mb-3">
                                                        <label for="phone">Phone: </label>
                                                        <input type="tel" class="form-control mt-2" id="phone" name="phone" value="<%= user.phone %>" disabled>
                                                    </div>
                                                    <form action="/admin/user/edit/<%= user.id %>" method="post" >
                                                        <div class="row my-3">
                                                            <h6 class="border-bottom pb-2">Roles</h6>
                                                            <% roles.forEach(role => { %>                                 
                                                                <div class="form-check">
                                                                    <input class="form-check-input" type="checkbox"
                                                                      id="role_<%= role.id %>" value="<%= role.id %>" name="roleIds[]"  <% if (user.roles.some(rol => rol.id == role.id)) { %>
                                                                        checked
                                                                    <% } %>>
                                                                    <label class="form-check-label" for="role_<%= role.id %>"><%= role.roleName %></label>
                                                                </div>
                                                            <% }) %>
                                                        </div>
                                                        <input type="hidden" name="userId" value="<%= user.id %>">
                                                        <input type="hidden" name="userCode" value="<%= user.userCode %>">
                                                        <button type="submit" class="btn ms-2 mt-2 btn-danger">Update</button>
                                                    </form>

                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <%- include('../partials/script') %>
</body>
</html>