<div class="accordion advert-card" id="accordion_<%= advert.id %>">
    <div class="accordion-item my-2">
        <div class="row">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button collapsed bg-danger text-light" type="button" data-bs-toggle="collapse" data-bs-target="#advertId_<%= advert.id %>" aria-expanded="true" aria-controls="advertId_<%= advert.id %>">
                    <%= advert.title %> ~ <%= advert.user.fullname %>
                </button>
            </h2>
            <div class="row mx-3 my-4">
                <!-- start point to end point -->
                <div class="col-md-4">
                    <h4>
                        <span>
                            <% const foundStartPoint = provinces.find(province => province.id == advert.startPoint); %>
                            <%- foundStartPoint ? `<b>${foundStartPoint.name}</b>` : "Bulunamadı"; %>
                        </span>
                        <i class="fa-solid fa-arrow-right"></i>
                        <span>
                            <% const foundEndPoint = provinces.find(province => province.id == advert.endPoint); %>
                            <b>
                                <%- foundEndPoint ? `${foundEndPoint.name}</b>` : "Bulunamadı"; %>
                            </b>
                        </span>
                    </h4>
                </div>
                <div class="col-md-3">
                    <h5><span class="startDate"><%= advert.startDate %></span> - <span class="endDate"><%= advert.endDate %></span></h5>
                </div>
                <div class="col-md-3">
                    <p><%= advert.cargo.cargoType.cargoTypeName %></p>
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-sm btn-danger" id="advertDetailBtn" data-bs-toggle="collapse" data-bs-target="#advertId_<%= advert.id %>" aria-expanded="false" aria-controls="advertId_<%= advert.id %>">
                        Detayları Göster</button>
                </div>
            </div>
        </div>
      <div id="advertId_<%= advert.id %>" class="accordion-collapse collapse " aria-labelledby="headingOne" data-bs-parent="#accordion_<%= advert.id %>">
        <div class="accordion-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="row mb-3">
                        <h6 class="text-muted"><b>İlan Açıklaması</b></h6>
                        <hr>
                        <p><%- advert.description %></p>
                    </div>
                    <div class="row mb-3">
                        <h6 class="text-muted"><b>Kargo Bilgileri</b></h6>
                        <hr> 
                        <table class="table table-bordered">
                            <thead>
                              <tr>
                                <th scope="col">Kargo Türü</th>
                                <th scope="col">Kilo</th>
                                <th scope="col">Boy (uzunluk X genişlik)</th>
                                <th scope="col">Kargo Görseli</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th scope="row"><%= advert.cargo.cargoType.cargoTypeName %></th>
                                <td><%= advert.cargo.weight %> kg</td>
                                <td><%= advert.cargo.verticalHeight %>cm X <%= advert.cargo.horizontalHeight %></td>
                                <td><img src="/static/images/<%= advert.cargo.cargoImg %>" alt="<%= advert.cargo.cargoImg %>" style="width: 80px;"></td>
                              </tr>
                            </tbody>
                          </table>
                    </div>
                    <div class="row mb-3">
                        <h6 class="text-muted"><b>Kargo Teslim Tarihi Aralığı</b></h6>
                        <hr> 
                        <p>

                            Başlangıç Tarihi: <span class="startDate"><%= advert.startDate %></span> - Bitiş tarihi: <span class="endDate"><%= advert.endDate %></span>
                        </p>
                    </div>
                    <div class="row mb-3">
                        <% if (typeof offerType === 'undefined') { %>                         
                            <div class="col-md-12">
                                <a href="/<%= advertType %>/offer/create/<%= advert.advertCode %>" class="btn btn-outline-danger float-end <%= userID==advert.userId ? "btn-disabled" : "" %>">Teklif Gönder</a>
                            </div>
                        <% } %>
                    </div>
                </div>
            </div>    
        </div>
      </div>
    </div>
</div>