<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../partials/head') %>
</head>
<body>
    <%- include('../../partials/navbar') %>
    <%- include('../../partials/alert') %>

    <div class="forms mt-5">
        <div class="card">
          <div class="card-body">
            <form method="post" enctype="multipart/form-data">
              <div class="row">
                <div class="col-md-3">
                  <label for="image" class="col-form-label">Araç Resmi:</label>
                </div>
                <div class="col-md-9">
                  <div class="row">
                    <div class="col-md-3">
                      <img src="/static/images/" alt="" id="previewImg" style="width: 200px;">
                    </div>
                    <div class="col-md-3">
                      <input type="file" class="form-control" id="image" name="vehicleImg">  
                    </div>
                    <div class="col-md-3">
                      <button type="button" class="btn btn-danger" id="removeImgBtn" disabled>Kaldır</button>

                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label for="plate" class="col-form-label">Plaka:</label>
                </div>
                <div class="col-md-6">
                  <input type="text" class="form-control text-center" id="plate" name="plate" placeholder="35 TT 023" >
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label for="brand" class="col-form-label">Marka:</label>
                </div>
                <div class="col-md-6">
                  <input type="text" class="form-control text-center" id="brand" name="brand" placeholder="ISUZU" oninput="this.value = this.value.replace(/[0-9]/g, '')">
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label for="capacity" class="col-form-label">Kapasite:</label>
                </div>
                <div class="col-md-6">
                  <input type="number" class="form-control text-center" id="capacity" name="capacity" placeholder="1000 KG" min="0" step="0.1" pattern="^[0-9]" required="required" value="0">
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label for="wheels" class="col-form-label">Teker Sayısı:</label>
                </div>
                <div class="col-md-6">
                  <input type="wheels" class="form-control text-center" id="wheels" name="wheels" placeholder="10">
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label for="vehicleTypeId" class="col-form-label">Araç Türü:</label>
                </div>
                <div class="col-md-6">
                  <select class="form-select" name="vehicleTypeId" id="vehicleType">
                    <option value="-1" selected class="text-center">Araç Türünü Seçin</option>
                    <% vehicleTypes.forEach(vehicleType => { %>
                        <option value="<%= vehicleType.id %>"  class="text-center"><%= vehicleType.vehicleTypeName %></option>
                     
                    <% }) %>
                  </select>
                </div>
              </div>
              <div class="row">
                <button type="submit" class="button px-5">Ekle</button>
              </div>
            </form>
          </div>
        </div>
      </div>


    <%- include('../../partials/script') %>
    <script src="/static/js/imagePrev.js"></script>

</body>
</html>