<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../partials/head') %>
</head>
<body>
    <%- include('../../partials/navbar') %>
    <div class="container">
        <div class="row mt-5">
            <%- include('../../partials/alert') %>
            <div class="col-md-12">
                <!-- vehicle-table -->
                <table class="table table-striped table-hover table-bordered mt-5">
                    <thead>
                        <tr>
                            <th>Sefer Kodu</th>
                            <th>Araç</th>
                            <th>Şöförler</th>
                            <th>Başlangıç Tarihi</th>
                            <th>Bitiş Tarihi</th>
                            <th><a href="/shipper/voyage/create" class="btn btn-sm btn-success">+ Ekle</a></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% voyages.forEach(voyage => { %>
                            <tr>
                                <td><%= voyage.voyageCode %></td>
                                <td>
                                    <%= voyage.vehicle.plate %>
                                </td>
                                <td>
                                    <% for (let driver of voyage.vehicle.drivers) { %>
                                        <li><%= driver.fullname %></li>
                                    <% } %>
                                </td>
                                <td><%= voyage.startDate %></td>
                                <td><%= voyage.endDate %></td>
                                <td>
                                    <div class="btns">
                                        <a href="/admin/voyage/edit/<%= voyage.id %>" class="btn btn-primary btn-sm">Düzenle</a>
                                        <a href="/admin/voyage/delete/<%= voyage.id %>" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#modal_<%= voyage.id %>">Sil</a>
                                        <!-- delete-voyage-panel -->
                                        <div class="modal fade" id="modal_<%= voyage.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                      <h1 class="modal-title fs-5" id="exampleModalLabel">Kargo Sil</h1>
                                                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body table-responsive">
                                                        <table class="table table-striped table-hover table-bordered mt-5 table-responsive">
                                                            <thead>
                                                                <tr>
                                                                    <th>Sefer Kodu</th>
                                                                    <th>Araç</th>
                                                                    <th>Şöförler</th>
                                                                    <th>Başlangıç Tarihi</th>
                                                                    <th>Bitiş Tarihi</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td><%= voyage.voyageCode %></td>
                                                                    <td><%= voyage.voyageCode %></td>
                                                                    <td>
                                                                        <%= voyage.vehicle.plate %>
                                                                    </td>
                                                                    <td>
                                                                        <% for (let driver of voyage.vehicle.drivers) { %>
                                                                            <li><%= driver.fullname %></li>
                                                                        <% } %>
                                                                    </td>
                                                                    <td><%= voyage.startDate %></td>
                                                                    <td><%= voyage.endDate %></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                        <h6>Bu kargoyu silmeniz, kargonun bağlantılı olduğu ilanı da siler. Yine de Kargoyu silmek istediğinize emin misiniz?</h6>
                                                    </div>
                                                    <div class="modal-footer">
                                                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                        <form action="/shipper/voyage/delete/<%= voyage.id %>" method="post">
                                                            <input type="hidden" name="voyageId" value="<%= voyage.id %>">
                                                            <input type="hidden" name="voyageCode" value="<%= voyage.voyageCode %>">>
                                                            <button type="submit" class="btn btn-danger">Delete</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </td>
                                </td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <%- include('../../partials/script') %>
</body>
</html>