<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../partials/head') %>
</head>
<body>
    <%- include('../../partials/navbar') %>
    
    
    
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <%- include('../../partials/alert') %>
                <div class="card my-4">
                    <h3 class="text-center my-3 border-bottom pb-3"><%= title %></h3>
                    <div class="row">
                        <form action="/account/change-password" method="post">
                            <div class="mb-3">
                                <label for="password" class="form-label">Şu anki Şifreniz:</label>
                                <input type="password" class="form-control" id="password" name="password">
                            </div>
                            <div class="mb-3">
                                <label for="newPassword" class="form-label">Yeni Şifreniz:</label>
                                <input type="password" class="form-control" id="newPassword" name="newPassword">
                            </div>
                            <div class="mb-3">
                                <label for="newPasswordAgain" class="form-label">Yeni şifreniz (Tekrar):</label>
                                <input type="password" class="form-control" id="newPasswordAgain" name="newPasswordAgain">
                                <div id="noMatches" class="form-text text-danger" style="display: none;">Yeni Şifre ve Yeni Şifre (Tekrar) Aynı Olmalıdır</div>
                            </div>
                            <div class="mb-3">
                                <div class="btn float-end">
                                    <button type="submit" class="btn btn-primary" id="updateBtn" disabled>Güncelle</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
         
    <%- include('../../partials/script') %>
    <script>
        const newPassword = document.getElementById('newPassword');
        const newPasswordAgain = document.getElementById('newPasswordAgain');
        const updateBtn = document.getElementById('updateBtn');
        const noMatches = document.getElementById('noMatches');

        newPasswordAgain.addEventListener("input", () => {
            if (newPassword.value === newPasswordAgain.value) {
                noMatches.style.display = "none"; // Eşleşme varsa hata mesajını gizle
                updateBtn.disabled=false

            } else {
                noMatches.style.display = "block"; // Eşleşme yoksa hata mesajını göster
                updateBtn.disabled = true; // Butonu devre dışı bırak
            }
        });
    </script>
</body>
</html>