<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../partials/head') %>
</head>
<body>
    <%- include('../../partials/navbar') %>
    <div class="container-fluid">
        <div class="forms">
            <div class="card" id="card">
                <div class="card-body">
                    <%- include('../../partials/alert') %>
                    <h3 class="text-center my-4 border-bottom pb-3"><%= title %></h3>
                    <div class="mb-2 category-list-table table-responsive">
                        <div class="filter-offers">
                            <div class="row">
                                <div class="total-offers col-md-6">
                                    <p><b>Toplam Teklif Sayısı : </b> <%= offers.length %></p>
                                </div>
                                <div class="filter-box col-md-6">
                                    <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                                        <option  href="/offers?offerType=my-offers" <%= offerType=="my-offers" ? "selected" : ""%>><a href="">Verdiğim Teklifler</a></option>
                                        <option href="/offers?offerType=recived-offers" <%= offerType=="recived-offers" ? "selected" : ""%>>Aldığım Teklifler</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <table class="table table-striped table-hover" id="table">
                            <thead>
                                <tr class="text-center">
                                    <th style="width:180px">Teklif Kodu</th>
                                    <th>Müşteri İlanı</th>
                                    <th>Nakliyeci İlanı</th>
                                    <th>Rolüm</th>
                                    <th>Teklif Durumu</th>
                                    <th>Teklif Tarihi</th>
                                    <th style="width: 200px;"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <% offers.forEach(offer => { %>
                                    <tr>
                                        <td><%= offer.offerCode %></td>
                                        <td><%= offer.customerAdvert.title %></td>
                                        <td><%= offer.shipperAdvert.title %></td>
                                        <td>
                                            <%= offer.shipperAdvert.userId==userId ? "Nakliyeci" : "Müşteri" %>
                                        </td>
                                        <td>
                                            <% if (offer.isSeened == false) { %>
                                                Teslim Edildi
                                            <% } else if (offer.isSeened == true) { %>
                                                <% if (offer.isAccepted == true) { %>
                                                    Onaylandı
                                                <% } else if (offer.isAccepted == false) { %>
                                                    Reddedildi
                                                <% } else { %>
                                                    Cevap Bekleniyor
                                                <% } %>
                                            <% } %>
                                        </td>
                                        <td class="date"><%= offer.estimatedDeadline %></td>
                                        <td>
                                            <div class="btns">
                                                <form action="/offer/detail">
                                                    <input type="hidden" name="offerType" value="<%= offerType %>">
                                                    <input type="hidden" name="offerId" value="<%= offer.id %>">
                                                    <input type="hidden" name="offerCode" value="<%= offer.offerCode %>">
                                                    <input type="hidden" name="myRole" value="<%= offer.shipperAdvert.userId==userId ? "shipper" : "customer" %>">
                                                    <button type="submit" class="btn btn-sm btn-success mx-1">İncele</button>
                                                </form>
                                                <% if (offer.isAccepted) { %>
                                                    <button type="button" class="btn btn-sm btn-warning" data-bs-toggle="modal" data-bs-target="#contact_<%= offer.id %>">
                                                        İletişim
                                                    </button>
                                                    
                                                    <!-- Modal -->
                                                    <div class="modal fade" id="contact_<%= offer.id %>" tabindex="-1" aria-labelledby="contactLabel" aria-hidden="true">
                                                        <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h1 class="modal-title fs-5" id="contactLabel"><%= offer.shipperAdvert.userId==userId ? "Müşteri bilgileri" : "Nakliyeci Bilgileri" %></h1>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <% if (offer.shipperAdvert.userId==userId) { %>                                                                 
                                                                    <ul>
                                                                        <li>Ad-Soyad: <%= offer.customerAdvert.user.fullname %></li>
                                                                        <li>Telefon Numarası: <a href="tel:+90<%= offer.customerAdvert.user.phone %>">+90<%= offer.customerAdvert.user.phone %></a></li>
                                                                        <li><a href="https://wa.me/<%= offer.customerAdvert.user.phone %>" target="_blank">Whatsapp</a></li>
                                                                        <li>E-Mail: <a href="mailto:<%= offer.customerAdvert.user.email %>"><%= offer.customerAdvert.user.email %></a></li>
                                                                    </ul>
                                                                <% } %>
                                                                <% if (offer.customerAdvert.userId==userId) { %>                                                                 
                                                                    <ul>
                                                                        <li>Ad-Soyad: <%= offer.shipperAdvert.user.fullname %></li>
                                                                        <li>Telefon Numarası: <a href="tel:+90<%= offer.shipperAdvert.user.phone %>">+90<%= offer.shipperAdvert.user.phone %></a></li>
                                                                        <li><a href="https://wa.me/<%= offer.shipperAdvert.user.phone %>" target="_blank">Whatsapp</a></li>
                                                                        <li>E-Mail: <a href="mailto:<%= offer.shipperAdvert.user.email %>"><%= offer.shipperAdvert.user.email %></a></li>
                                                                    </ul>
                                                                <% } %>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                                                            </div>
                                                        </div>
                                                        </div>
                                                    </div>
                                                <% } %>
                                                <button type="button" class="btn btn-sm btn-danger mx-1" data-bs-toggle="modal" data-bs-target="#offer_<%= offer.id %>">
                                                    Sil
                                                </button>
                                                <div class="modal fade" id="offer_<%= offer.id %>" tabindex="-1" aria-labelledby="offer_<%= offer.id %>Label" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                      <div class="modal-content">
                                                        <div class="modal-header">
                                                          <h1 class="modal-title fs-5" id="offer_<%= offer.id %>Label">Modal title</h1>
                                                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <table class="table table-striped table-hover" id="table">
                                                                <thead>
                                                                    <tr class="text-center">
                                                                        <th style="width:180px">Teklif Kodu</th>
                                                                        <th>Müşteri İlanı</th>
                                                                        <th>Nakliyeci İlanı</th>
                                                                        <th>Rolüm</th>
                                                                        <th>Teklif Durumu</th>
                                                                        <th>Teklif Tarihi</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <td><%= offer.offerCode %></td>
                                                                        <td><%= offer.customerAdvert.title %></td>
                                                                        <td><%= offer.shipperAdvert.title %></td>
                                                                        <td>
                                                                            <%= offer.shipperAdvert.userId==userId ? "Nakliyeci" : "Müşteri" %>
                                                                        </td>
                                                                        <td>
                                                                            <% if (offer.isSeened == false) { %>
                                                                                Teslim Edildi
                                                                            <% } else if (offer.isSeened == true) { %>
                                                                                <% if (offer.isAccepted == true) { %>
                                                                                    Onaylandı
                                                                                <% } else if (offer.isAccepted == false) { %>
                                                                                    Reddedildi
                                                                                <% } else { %>
                                                                                    Cevap Bekleniyor
                                                                                <% } %>
                                                                            <% } %>
                                                                        </td>
                                                                        <td class="date"><%= offer.estimatedDeadline %></td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                        <p>Bu teklifi silemk istediğinize emin misiniz? </p>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Vazgeç</button>
                                                            <form action="/offer/delete/<%= offer.offerCode %>" method="post">
                                                                <input type="hidden" name="offerId" value="<%= offer.id %>">
                                                                <button type="submit" class="btn btn-danger">Sil</button>
                                                            </form>
                                                        </div>
                                                      </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                <% }) %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('../../partials/script') %>
    <script src="/static/js/dateFormatConvertor.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var selectElement = document.querySelector('.form-select');
            
            selectElement.addEventListener('change', function () {
                var selectedOption = selectElement.options[selectElement.selectedIndex];
                var link = selectedOption.getAttribute('href');
                if (link) {
                    window.location.href = link;
                }
            });
        });
    </script>
</body>
</html>